<div class="page">

  <h1 class="header">Violence in <%= @country %></h1>

  <h4>Violence Events in <%= @country %> since January 2014</h4> 
  <canvas id="myChart" class="extendedTimeChart" width="1000" height="400"></canvas>

  <div class="circle-chart-box grid_6">
    <h4>Violence in <%= @country %> by Actor</h4>
    <canvas id="actorPieChart" width="400" height="400"></canvas>
  </div>

  <div class="circle-chart-box grid_6">
    <h4>Violence in <%= @country %> by Type</h4>
    <canvas id="typePieChart" width="400" height="400"></canvas>
  </div>
  
</div>

<script>

  var data = {
      labels: <%= raw @each_month %>,
      datasets: [
          {
            label: "Country dataset",
            fillColor: "rgba(100,100,200,0.2)",
            strokeColor: "rgba(100,100,200,1)",
            pointColor: "rgba(100,100,200,1)",
            pointStrokeColor: "#bbf",
            pointHighlightFill: "#bbf",
            pointHighlightStroke: "rgba(100,100,200,1)",
              data: <%= @events_by_day %>
          },
          {
            label: "Fatalities",
            fillColor: "rgba(440,120,120,0.2)",
            strokeColor: "rgba(440,120,120,1)",
            pointColor: "rgba(440,120,120,1)",
            pointStrokeColor: "#fbb",
            pointHighlightFill: "#fbb",
            pointHighlightStroke: "rgba(440,120,120,1)",
            data: <%= @fatalities_by_day %>
        }

      ]
  };



  var ctx = document.getElementById("myChart").getContext("2d");

  var myLineChart = new Chart(ctx).Line(data, {
    showTooltips: false
  });
</script>

<script>
  //ACTORS PIE CHART SCRIPT
  var data = <%= raw @actor_chart_array.to_json %>;

  var ctx = document.getElementById("actorPieChart").getContext("2d");

  var myPieChart = new Chart(ctx).Pie(data, {
    percentageInnerCutout : 30
  });
</script>

<script>
  //TYPES PIE CHART SCRIPT
  var data = <%= raw @type_chart_array.to_json %>;

  var ctx = document.getElementById("typePieChart").getContext("2d");


  var myPieChart = new Chart(ctx).Pie(data, {
    percentageInnerCutout : 30
  });
</script>




