<h1>Create New Event</h1>

<div class="form" id="new-event-form">
  <%= form_for(@event) do |f| %>
    <fieldset>
      <%= f.label :event_date %>
      <%= f.text_field :event_date %><br/>

      <%= f.label :event_type %>
      <%= f.text_field :event_type %><br/>

      <%= f.label :actor1 %>
      <%= f.text_field :actor1 %><br/>

      <%= f.label :actor2 %>
      <%= f.text_field :actor2 %><br/>

      <%= f.label :country %>
      <%= f.text_field :country %><br/>

      <%= f.label :source %>
      <%= f.text_field :source %><br/>

      <%= f.label :notes %>
      <%= f.text_field :notes %><br/>

      <%= f.label :total_fatalities %>
      <%= f.text_field :total_fatalities %><br/>

      <%= f.label :latitude %>
      <%= f.text_field :latitude %><br/>

      <%= f.label :longitude %>
      <%= f.text_field :longitude %><br/>

      <%= f.submit "Create Event" %>
    </fieldset>
  <% end %>
</div>