<p><strong>Event Date: </strong><%= @event["event_date"] %></p>
<p><strong>Event Type:  </strong><%= @event["event_type"] %></p>
<p><strong>Actor 1:  </strong><%= @event["actor1"] %></p>
<p><strong>Actor 2:  </strong><%= @event["actor2"] %></p>
<p><strong>Country:  </strong><%= @event["country"] %></p>
<p><strong>Source:  </strong><%= @event["source"] %></p>
<p><strong>Notes:  </strong><%= @event["notes"] %></p>
<p><strong>Total Fatalities:  </strong><%= @event["total_fatalities"] %></p>
<p><strong>Latitude:  </strong><%= @event["latitude"] %></p>
<p><strong>Longitude:  </strong><%= @event["longitude"] %></p>
<p><strong>Created At:  </strong><%= @event["created_at"] %></p>
<p><strong>Updated At:  </strong><%= @event["updated_at"] %></p>
