<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ACLED Data" %></title>


    <%= stylesheet_link_tag    "application" %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> 
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="sticky">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="<%= root_path %>">Dashboard</a></h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><a href="<%= countries_path %>">By Country</a></li>
              <li class="active"><a href="<%= actors_path %>">By Actor</a></li>
              <li class="has-dropdown">
                <a href="#">I'm from ACLED</a>
                <ul class="dropdown">
                  <% if admin_signed_in? %>
                    <li><%= link_to('Sign Out', destroy_admin_session_path, :method => :delete) %></li>
                  <% else %>
                    <li><a href="<%= new_admin_session_path %>">Sign In</a></li>
                  <% end %>
                </ul>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="<%= events_path %>">See the Data</a></li>
              <% if admin_signed_in? %>
                <li><%= link_to('Upload a Batch of Events', upload_path) %></li>
                <li><%= link_to('Manage Event Submissions', admin_dashboard_path) %></a></li>
              <% else %>
                <li><a href="<%= new_event_path %>">Report an Event Near You</a></li>
              <% end %>
            </ul>
            </ul>
          </section>
        </nav>
      </div>

      <div id="page">

        <div ng-app="app">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
                <%= content_tag :div, msg %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <% end %>

          <%= yield %>
        </div>
      </div>
    
  </body>
</html>